.stock-details {
  width: 100%;
}

.single-stock {
  background: green;
  width: 15%;
  float: left;
  border: 5px solid white;
  padding: 50px 10px;
  cursor: pointer;
  color: white;
  font-size: 28px;
  font-weight: 900;
}

.stock-data-by-date {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.stock-header {
  text-align: center;
}

.stock-date {
  width: 100%;
  text-align: center;
}

.go-back {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
}
